h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}

.edu-qld-hand {
  font-family: "Edu QLD Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  line-height: 1.5;
  font-family: 'Edu QLD Hand', cursive !important;
}

nav li {
  font-size: 20px;
}

.container {
  min-height: max-content;
}

.container-in {
  height: 100%;
}

.paddingx {
  padding-left: 200px !important;
  padding-right: 200px !important;
}

.nav-icon i {
  font-size: 22px;
  margin-right: 10px;
}

.add-to-cart i {
  transition: opacity 1s ease, transform 1s ease, color 1s ease;
  display: flex;
  justify-content: end;
  align-items: flex-start;
}

.fade-out {
  opacity: 0; /* Yavaşça kaybolma */
  transform: scale(0.5); /* Küçülerek kaybolma efekti */
}

.fade-in {
  opacity: 1; /* Yavaşça görünür hale gelme */
  transform: scale(1); /* Orijinal boyuta dönme */
}

.rotate {
  transform: rotate(360deg); /* 360 derece dönsün */
  transition-duration: 5s;
  transform-origin: 50% 50%;
}

.navbar {
  background-color: bisque;
  z-index: 1;
}

.navbar .logo img {
  width: 180px;
}

.nav-link {
  transition: none !important;
}

.navbar .nav-item a {
  font-size: 18px;
  font-family: Glegoo;
}

.navbar .nav-item:hover a {
  color: #fff;
}

.nav-icon {
  display: flex;
}

.cart-icon {
  position: relative;
  margin-left: 20px;
}

.navbar .mini-cart {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 30px;
  background: #fff;
  border: 1px solid #ebebeb;
  width: 350px;
  z-index: 11;
  transition: all 350ms;
}

.navbar .dropdown-menu .dropdown-item{
  color: #000 !important
}


.nav-icon button {
  border: none;
}
.nav-icon .search-box {
  height: 35px;
  padding-right: 43px;
  position: absolute;
  right: 240px;
  top: 30%;
  width: 200px;
  border-color: #eee;
  box-shadow: none;
}

.nav-icon .search-icon {
  display: inline-block;
  position: relative;
  color: #000;
  transition: all 250ms;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.nav-icon .clicked {
  transform: scale(0.8);
}

.hidden {
  display: none;
}

.slider-section {
  margin-top: -250px;
}

.slider-section img {
  position: relative;
  max-width: 100vw;
  visibility: visible;
  width: -webkit-fill-available;
  object-fit: cover;
}

.slider-text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.slider-text h1 {
  padding: 15px;
  background: rgb(210, 42, 48);
  font-size: 60px;
  font-family: Glegoo;
  width: auto;
  height: auto;
  border-width: 0px;
}

.slider-text p {
  padding: 4px;
  background: rgb(210, 42, 48);
  font-size: 17px;
  font-family: Glegoo;
  width: fit-content;
  position: absolute;
  right: 10px;
  bottom: -20px;
}

.section1 {
  position: relative;
  margin-top: -250px;
  padding-top: 20px;
}

.section1 h5,
.section2 h5 {
  margin-top: -10px;
}

.product {
  position: relative;
}


.product-item,
.searched-product {
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product-item li i,
.searched-product li i {
  margin-bottom: 55px;
}



.add-to-cart-icon {
  position: absolute;
  top: 5px;
  right: 40px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000;
  font-size: 24px;
}

.on-sale {
  background-color: #333;
  position: absolute;
  display: block;
  right: -15px;
  top: -15px;
  margin-right: 15px;
  z-index: 500;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  background: #222;
  color: #fff;
  line-height: 60px;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

span {
  color: #333;
}
.product-info .header p {
  font-weight: 200;
  font-family: Glegoo;
}



.pt-100 {
  padding-top: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-300 {
  padding-top: 300px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pl-100 {
  padding-left: 100px !important;
}

.pr-100 {
  padding-right: 100px !important;
}

.section2 img {
  max-width: 100%;
  vertical-align: top;
}

.dash {
  background-color: #222;
  width: 16px;
  height: 2px;
  position: absolute;
  display: inline-block;
}

.section2 .author-info .header {
  font-size: 24px;
  font-family: Georgia;
  font-weight: 100;
}

.section2 .author-info small {
  display: block;
  margin-top: 8px;
  font-size: 17px;
  color: #888;
  font-weight: 300;
}

.section2 .author-info p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 100;
  color: #979696;
  letter-spacing: 0.7px;
  line-height: 1.3;
  font-family: "Glegoo", serif;
  text-align: justify;
}

.section3 img {
  width: -webkit-fill-available;
  transition: transform 0.3s ease;
  width: 100%;
  height: auto;
}

.section3 .img-p {
  padding-left: 0px;
  padding-right: 0px;
}

.section3 .img-banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: all 500ms ease-in;
}
.img-banner:hover img {
  transform: scale(1.1);
}

.section3 .banner-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
}

.section3 .banner-text-container .banner-text-content {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  white-space: nowrap;
  line-height: 1;
  text-align: center;
}

.section3 strong {
  font-weight: 400;
  display: block;
  color: #fff;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
}
.section3 em {
  display: block;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  padding-top: 10px;
  zoom: 1;
  opacity: 0.7;
  color: #fff;
  text-transform: uppercase;
}
.section3 span.ol {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}
.section3 em .border-top {
  border-top: 1px solid #fff;
  margin-top: 10px;
}

.section4 img {
  border-radius: 50%;
  max-width: -webkit-fill-available;
}

.section4 p {
  font-size: 18px;
  color: #888;
  font-weight: 500;
  margin-bottom: 10px;
}

.section4 cite {
  position: relative;
  font-style: normal;
  font-size: 12px;
  color: #444;
  text-transform: uppercase;
  font-weight: 400;
}

.section4 .carousel-indicators [data-bs-target] {
  background-color: #bbb !important;
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}

.section4 .carousel-indicators {
  margin-bottom: -1rem !important;
}

.section4 .carousel-inner {
  height: 100px !important;
}

.section4 .carousel-control-next,
.carousel-control-prev {
  display: none !important;
}

.footer-margin {
  margin-top: -100px;
}

footer .footer-menu a {
  display: block; /* Her a etiketini blok yaparak alt alta sıralar */
  color: #aaa;
  text-decoration: none;
  margin-bottom: 0px;
  font-family: Georgia, serif;
  font-size: 17px;
  font-weight: 100;
}

footer .footer-menu a:hover {
  color: #aaa;
}

footer .footer-menu h5 {
  font-weight: 100;
  color: #555;
  font-family: Georgia, serif;
}

.footer-bottom {
  border-top: 1px solid #eee;
  padding: 40px 0 0;
  margin-top: 20px;
}

.footer-bottom p {
  color: #666;
  line-height: 0.5;
}

.footer-bottom a {
  color: #aaa;
  text-decoration: none;
}

.footer-bottom ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .footer-menu {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 50px;
}

.footer-bottom .footer-bottom-menu li {
  display: inline-block;
  color: #666;
}

.footer-bottom .footer-bottom-menu li:not(:last-child)::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 1px;
  margin: 0 10px;
  background: #ccc;
}

.footer-bottom .payment-methods {
  display: flex;
  justify-content: end;
}

.footer-bottom .payment-methods li {
  display: inline-block;
  margin-right: 10px;
}

.products-sidebar,
.books .search-library {
  border: 1px solid #eee;
  padding: 25px 30px;
  font-weight: 400;
  border-color: #eee;
}

.products-sidebar h5,
.books .search-library h5 {
  font-weight: 100;
  color: #444;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.books .line {
  height: 2px;
  width: 100%;
  background-color: #eee;
}

.books-list ul{
  list-style: none;
}


.products-sidebar .product-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.products-sidebar .product-list li {
  position: relative;
  padding-left: 60px;
  color: #a2a2a2;
  border-bottom: 1px solid #eee;
  margin-top: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
  list-style: none;
}

.products-sidebar .product-list li a {
  display: block;
  text-decoration: none;
  text-transform: none;
  color: #888;
}

.products-sidebar .product-list li a img {
  float: left;
  max-width: 50px;
  margin-left: -60px;
  height: auto;
}

.books .search-library .search-field {
  border: 1px solid #eee;
  padding: 5px 10px;
  width: 100%;
  outline: 0;
}

.search-button,
.submit-button {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  border-radius: 5px;
  border: 0;
  background: #222;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
  color: #fff;
  padding: 5px 15px;
  box-shadow: 0 6px rgb(255, 209, 152);
}

.search-button:hover,
.submit-button:hover {
  background-color: #000;
  color: #fff;
}

.search-button:active,
.submit-button:active {
  background-color: rgb(255, 209, 152);
  color: #000;
  box-shadow: 0 3px rgb(255, 209, 152);
  transform: translateY(4px);
}

.books .container {
  min-height: max-content;
}

.products-sidebar .product-list li .amount {
  display: inline-block;
  margin-top: 5px;
}

.books .product-item a {
  text-decoration: none;
}

.library-image img {
  padding: 10px;
}

.library-text {
  text-align: justify;
  color: #888;
  font-size: 16px;
  line-height: 1.42857143;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0 0 11px;
}

.library-text p {
  padding: 0 15px;
}

.page-heading {
  display: flex;
  margin: 50px 0;
}
.right-aligned {
  margin-left: auto;
}

.page-heading .right-aligned a {
  text-decoration: none;
  color: #222;
  display: inline-block;
}
.page-heading .right-aligned {
  color: #b3b3b3;
}

.page-heading .right-aligned span {
  display: inline-block;
  letter-spacing: -3px;
  color: #b3b3b3;
}

.team-section {
  margin: 15px 0;
}

.team-section .section-heading {
  text-align: center;
}
.team-row {
  margin: 50px 100px 0 100px;
}
.team-row h4 small {
  display: block;
  font-size: 16px;
  color: #666;
}

.search .search-header {
  background-color: #f4f4f4;
  padding: 25px 0;
}

.search .search-header h2 {
  padding: 30px 0 0;
}

.search .search-header h2 strong {
  font-weight: 400;
  color: #7b599b;
}

.search .search-header a {
  text-transform: uppercase;
  color: #444 !important;
  font-size: 15px;
  display: inline-block;
  margin-top: 5px;
}

.message-box {
  height: 150px !important;
}

.c-box {
  width: 100%;
  position: relative;
  height: 150px;
  background-color: bisque;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-box i {
  font-size: 30px;
  padding-bottom: 15px;
}

.searched-product {
  align-items: start !important;
}
.searched-info i {
  right: -20px !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000 !important;
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 10px;
    transform: rotate(90deg);
  }
}

.login-library-img{
  width: 100%;
}

.login-library-text{
  display: flex;
  position: absolute;
  top:150px;
  left: 50px;
  color:bisque;
  font-size: 30px;
  font-weight: 100;
}

.img-area{
  position: relative;
}

.form-bodycolor{background-color: bisque;}

.login-page .form-area{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.login-page .form-area .form-container{
  padding: 75px 50px;
  background-color: rgba(254, 254, 254, 0.438);
  text-align: left;
  border-radius: 15px;
}

.login-page .left-side{
  height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-page .form-area input{
  margin: 10px;
}
.login-page .form-area .button-area{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.login-page .form-area button{
  width: 100%;
}

.error-text{
  color:red;
  font-size: 12px;
  font-weight: 500;
}

.direct-button a{
  color:#000;
  font-size:12px;
}

.back a{
  text-decoration: none;
  color: #000 !important;
}

.categories{
  border: 1px solid #eee;
  font-weight: 400;
  border-color: #eee;
}

.categories h5 {
  font-weight: 100;
  color: #444;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.categories ul{
  list-style: none;
}

.categories ul li{
  margin:5px 0; 
}


.product-info .header,
.searched-info header {
  font-size: 20px;
  color:#fff;
}

.product-info p,
.searched-info p,.product-info h5{
  color:#fff !important;
}


.product-info span,
.searched-info span {
  font-size: 20px;
  margin-top:-13px;
  color:#fff;
}



.product-info,
.searched-info {
  position: relative;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: -webkit-fill-available;
  background-color: #0000009f;

  padding: 5px 0;
  transition: color 0.5s ease 0.3s;
  
}

.product-image {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  min-width: fit-content;
  max-width: fit-content;
  transform: translateY(0);
  cursor: pointer;
}

.product-image::before {
      content: "";
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0000009f;
     transition: bottom 0.5s ease; 
      z-index: 0;
    }

.product-image:hover::before, .product-info:hover::before{
      bottom: 0;
    }

 .product-info::before{
  content: "";
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: bottom 0.5s ease ;
      z-index: 0;
}

 .product-image:hover + .product-info::before {
      bottom: 0;
    }


.product-item:hover .product-image::before,
.product-item:hover .product-info::before {
  bottom: 0;
}

.product-item:hover .product-info h5, .product-item:hover .product-info p, .product-item:hover .product-info span{
  color:#000 !important;
  z-index: 1;
  transition: color 0.3s ease 0.3s;
}

.product-item,
.searched-product {
  padding: 0;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.add-to-cart {
  width: 100px;
  font-size: 15px;
  position: absolute;
  background-color: #fff;
  padding: 5px 0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.656);
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition-delay: 0s;

}

.product-item:hover .add-to-cart{
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(-5px);
  transition-delay: 0.3s;
}

.cart-product-img{
  width: 50px;
}
.cart-product-title{
  font-size:15px
}
.cart-product-count{
  font-size: 15px;
}
.cart-product-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px !important;
}
.custom-slider .slick-track {
  display: flex !important;
}

.custom-slider .slick-slide {
  float: none !important;
}

.slick-slide {
  display: inline-block;
  width: auto !important;
  float: none !important;
  
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
